apiVersion: v1alpha1
kind: Setting
metadata:
  name: theme-terminal-ez-setting
spec:
  forms:
    - group: basic
      label: 基本设置
      formSchema:
        - $formkit: text
          name: index_notice_title
          label: 首页公告标题
          value: "Hello Terminal!"
        - $formkit: textarea
          name: index_notice_content
          label: 首页公告内容
          value: "一款 Terminal 风格的 Halo 主题."
        - $formkit: checkbox
          name: show_toc
          label: 显示文章目录
          value: true
          help: 开启后将在文章页面显示文章目录
        - $formkit: checkbox
          name: pjax
          label: 启用 PJAX
          help: 是否启用 PJAX, 默认关闭, 开启后点击站内链接时只更新主要内容区域而不是整个页面 (可能与一些插件存在兼容问题)
          value: false
    - group: page
      label: 页面配置
      formSchema:
        - $formkit: text
          name: archives_title
          label: 归档页标题自定义
          value:
        - $formkit: text
          name: categories_title
          label: 分类页(复数) 标题自定义
          value:
        - $formkit: text
          name: category_title
          label: 分类页标题自定义
          value:
        - $formkit:
          name: tags_title
          label: 标签页(复数) 标题自定义
          value:
        - $formkit:
          name: tag_title
          label: 标签页标题自定义
          value:
        - $formkit: text
          name: links_title
          label: 友链页标题自定义
          value:

    - group: style
      label: 样式设置
      formSchema:
        - $formkit: checkbox
          label: 使用系统字体
          name: system_font
          value: false
          help: 开启后将优先使用访问者的系统字体
        - $formkit: checkbox
          name: pixel_style
          label: 默认像素化风格
          value: false
          help: 开启后将默认使用像素风格字体及图标
        - $formkit: select
          name: default_schema_mode
          label: 默认配色方案
          value: "dark"
          options:
            - label: "深色"
              value: "dark"
            - label: "浅色"
              value: "light"
            - label: "跟随系统"
              value: "system"
        - $formkit: select
          name: dark_color_schema
          id: dark_color_schema
          label: 深色配色方案
          value: "night"
          options:
            - label: "custom"
              value: "custom"
            - label: "day"
              value: "day"
            - label: "night"
              value: "night"
            - label: "blood"
              value: "blood"
            - label: "niello"
              value: "niello"
            - label: "matrix"
              value: "matrix"
            - label: "ink"
              value: "ink"
            - label: "hopbush"
              value: "hopbush"
            - label: "pistachio"
              value: "pistachio"
            - label: "blue"
              value: "blue"
            - label: "studio"
              value: "studio"
            - label: "vanilla"
              value: "vanilla"
        - $formkit: text
          name: custom_dark
          if: "$get(dark_color_schema).value === 'custom'"
          value: ""
          help: "在此填写自定义配色的名称"
          validation: "required"

        - $formkit: select
          name: light_color_schema
          id: light_color_schema
          label: 浅色配色方案
          value: "day"
          options:
            - label: "custom"
              value: "custom"
            - label: "day"
              value: "day"
            - label: "night"
              value: "night"
            - label: "blood"
              value: "blood"
            - label: "niello"
              value: "niello"
            - label: "matrix"
              value: "matrix"
            - label: "ink"
              value: "ink"
            - label: "hopbush"
              value: "hopbush"
            - label: "pistachio"
              value: "pistachio"
            - label: "blue"
              value: "blue"
            - label: "studio"
              value: "studio"
            - label: "vanilla"
              value: "vanilla"
        - $formkit: text
          name: custom_light
          if: "$get(light_color_schema).value === 'custom'"
          value: ""
          help: "在此填写自定义配色的名称"
          validation: "required"

        - $formkit: code
          name: custom
          label: 自定义样式
          language: css
          height: 150px
          value: ""
          help: 可填写自定义的 CSS, 会覆盖主题的样式

    - group: sns
      label: 社交资料
      formSchema:
        - $formkit: checkbox
          name: switch
          label: 全局开关
          value: true
          help: 关闭后不会显示社交资料
        - $formkit: checkbox
          name: rss
          label: RSS
          value: false
        - $formkit: text
          name: github
          label: GitHub
          placeholder: "用户名"
          value:
        - $formkit: text
          name: email
          label: Email
          placeholder: "邮箱地址"
          value:
        - $formkit: text
          name: discord
          label: Discord
          placeholder: "分享链接"
          value:
        - $formkit: text
          name: telegram
          label: Telegram
          placeholder: "用户名"
          value:
        - $formkit: text
          name: facebook
          label: Facebook
          placeholder: "用户名"
          value:
        - $formkit: text
          name: instagram
          label: Instagram
          placeholder: "用户名"
          value:
        - $formkit: text
          name: x
          label: X
          placeholder: "用户名"
          value:

    - group: icp
      label: 备案设置
      formSchema:
        - $formkit: text
          name: icp_text
          label: ICP备案号
        - $formkit: text
          name: icp_link
          label: ICP备案跳转链接
          value: https://beian.miit.gov.cn/
        - $formkit: text
          name: filing_text
          label: 公安备案号
        - $formkit: text
          name: filing_link
          label: 公安备案跳转链接
          value: https://www.beian.gov.cn/