apiVersion: v1alpha1
kind: Setting
metadata:
  name: theme-terminal-ez-setting
spec:
  forms:
    - group: basic
      label: 基本设置
      formSchema:
        - $formkit: text
          name: index_notice_title
          label: 首页公告标题
          value: "Hello Terminal!"
        - $formkit: textarea
          name: index_notice_content
          label: 首页公告内容
          value: "一款 Terminal 风格的 Halo 主题."
        - $formkit: checkbox
          name: show_toc
          label: 显示文章目录
          value: true
          help: 开启后, 将在文章页面显示文章目录
        - $formkit: checkbox
          name: pjax
          label: 启用 PJAX
          help: 是否启用 PJAX, 默认关闭
          value: false
    - group: style
      label: 样式设置
      formSchema:
        - $formkit: checkbox
          label: 使用系统字体
          name: system_font
          value: false
          help: 开启后将优先使用访问者的系统字体
        - $formkit: checkbox
          name: pixel_style
          label: 像素化风格
          value: false
          help: 开启后, 将优先使用像素风格字体及图标
        - $formkit: select
          name: default_schema_mode
          label: 默认配色方案
          value: "dark"
          options:
            - label: "深色"
              value: "dark"
            - label: "浅色"
              value: "light"
            - label: "跟随系统"
              value: "system"
        - $formkit: select
          name: dark_color_schema
          id: dark_color_schema
          label: 深色配色方案
          value: "night"
          options:
            - label: "custom"
              value: "custom"
            - label: "day"
              value: "day"
            - label: "night"
              value: "night"
            - label: "blood"
              value: "blood"
            - label: "niello"
              value: "niello"
            - label: "matrix"
              value: "matrix"
            - label: "ink"
              value: "ink"
            - label: "hopbush"
              value: "hopbush"
            - label: "pistachio"
              value: "pistachio"
            - label: "blue"
              value: "blue"
            - label: "studio"
              value: "studio"
            - label: "vanilla"
              value: "vanilla"
        - $formkit: text
          name: custom_dark
          if: "$get(dark_color_schema).value === 'custom'"
          value: ""
          help: "在此填写自定义配色的名称"
          validation: "required"

        - $formkit: select
          name: light_color_schema
          id: light_color_schema
          label: 浅色配色方案
          value: "day"
          options:
            - label: "custom"
              value: "custom"
            - label: "day"
              value: "day"
            - label: "night"
              value: "night"
            - label: "blood"
              value: "blood"
            - label: "niello"
              value: "niello"
            - label: "matrix"
              value: "matrix"
            - label: "ink"
              value: "ink"
            - label: "hopbush"
              value: "hopbush"
            - label: "pistachio"
              value: "pistachio"
            - label: "blue"
              value: "blue"
            - label: "studio"
              value: "studio"
            - label: "vanilla"
              value: "vanilla"
        - $formkit: text
          name: custom_light
          if: "$get(light_color_schema).value === 'custom'"
          value: ""
          help: "在此填写自定义配色的名称"
          validation: "required"

        - $formkit: code
          name: custom
          label: 自定义样式
          language: css
          height: 150px
          value: ""
          help: 可填写自定义的 CSS, 会覆盖主题的样式

    - group: icp
      label: 备案设置
      formSchema:
        - $formkit: text
          name: icp_text
          label: ICP备案号
        - $formkit: text
          name: icp_link
          label: ICP备案跳转链接
          value: https://beian.miit.gov.cn/
        - $formkit: text
          name: filing_text
          label: 公安备案号
        - $formkit: text
          name: filing_link
          label: 公安备案跳转链接
          value: https://www.beian.gov.cn/