apiVersion: v1alpha1
kind: Setting
metadata:
  name: theme-terminal-ez-setting
spec:
  forms:
    - group: basic
      label: 基本设置
      formSchema:
        - $formkit: text
          label: logo
          name: logo
          value:
          help: 设置左上角 logo 文本, 不设置默认为 halo 中设置的站点标题
        - $formkit: checkbox
          name: pjax_enable
          label: 启用 PJAX
          help: 是否启用 PJAX, 默认关闭, 开启后点击站内链接时只更新主要内容区域而不是整个页面 (可能与一些插件存在兼容问题)
          value: false

    - group: style
      label: 全局样式
      formSchema:
        - $formkit: text
          label: 正文区域最大宽度
          name: max_width
          value:
          help: 填写的值为 max-width 属性的值

        - $formkit: checkbox
          label: 使用系统字体
          name: system_font_enable
          value: false
          help: 开启后将优先使用访问者的系统字体

        - $formkit: checkbox
          name: pixel_style
          label: 默认像素化风格
          value: false
          help: 开启后将默认使用像素风格字体及图标

        - $formkit: checkbox
          name: custom_font_enable
          id: custom_font_enable
          label: 启用自定义字体文件
          value: false
          help: '如果启用 "使用系统字体", 此配置项不生效'
        - $formkit: attachment
          if: "$get(custom_font_enable).value === true"
          name: custom_font_file
          label: 自定义字体文件
          value: ""
        - $formkit: text
          if: "$get(custom_font_enable).value === true"
          name: custom_font_name
          label: 字体名称
          help: "填写上传字体文件内部声明的 字体全名 或 PostScript 名. 如果和上传的字体文件不匹配, 将使用系统默认字体"
          value: ""

        - $formkit: select
          name: time_style
          id: time_style
          label: 时间格式
          value: "yyyy-MM-dd"
          options:
            - label: "yyyy-MM-ddTHH:mm:ssXXX"
              value: "yyyy-MM-dd''T''HH:mm:ssXXX"
            - label: "yyyy-MM-dd HH:mm:ss"
              value: "yyyy-MM-dd'' ''HH:mm:ss"
            - label: "yyyy-MM-dd"
              value: "yyyy-MM-dd"
            - label: "custom"
              value: "custom"

        - $formkit: text
          if: "$get(time_style).value === 'custom'"
          name: custom_time_style
          label: 自定义时间格式
          placeholder: "yyyy-MM-dd"
          validation: "required"

        - $formkit: select
          name: default_scheme_mode
          label: 默认配色方案
          value: "dark"
          options:
            - label: "深色"
              value: "dark"
            - label: "浅色"
              value: "light"
            - label: "跟随系统"
              value: "system"
        - $formkit: select
          name: dark_color_scheme
          id: dark_color_scheme
          label: 深色配色方案
          value: "night"
          options:
            - label: "custom"
              value: "custom"
            - label: "day"
              value: "day"
            - label: "night"
              value: "night"
            - label: "blood"
              value: "blood"
            - label: "niello"
              value: "niello"
            - label: "matrix"
              value: "matrix"
            - label: "ink"
              value: "ink"
            - label: "hopbush"
              value: "hopbush"
            - label: "pistachio"
              value: "pistachio"
            - label: "blue"
              value: "blue"
            - label: "studio"
              value: "studio"
            - label: "vanilla"
              value: "vanilla"
        - $formkit: text
          name: custom_dark
          if: "$get(dark_color_scheme).value === 'custom'"
          value: ""
          help: "在此填写自定义配色的名称"
          validation: "required"

        - $formkit: select
          name: light_color_scheme
          id: light_color_scheme
          label: 浅色配色方案
          value: "day"
          options:
            - label: "custom"
              value: "custom"
            - label: "day"
              value: "day"
            - label: "night"
              value: "night"
            - label: "blood"
              value: "blood"
            - label: "niello"
              value: "niello"
            - label: "matrix"
              value: "matrix"
            - label: "ink"
              value: "ink"
            - label: "hopbush"
              value: "hopbush"
            - label: "pistachio"
              value: "pistachio"
            - label: "blue"
              value: "blue"
            - label: "studio"
              value: "studio"
            - label: "vanilla"
              value: "vanilla"
        - $formkit: text
          name: custom_light
          if: "$get(light_color_scheme).value === 'custom'"
          value: ""
          help: "在此填写自定义配色的名称"
          validation: "required"

        - $formkit: code
          name: custom
          label: 自定义样式
          language: css
          height: 150px
          value: ""
          help: 可填写自定义的 CSS, 会覆盖主题的样式
    - group: index_page
      label: 首页
      formSchema:
        - $formkit: text
          name: notice_title
          label: 公告标题
          value: "Hello Terminal!"
        - $formkit: textarea
          name: notice_content
          label: 公告内容
          value: "一款 Terminal 风格的 Halo 主题."
        - $formkit: checkbox
          name: show_sns
          label: 展示社交资料
          value: true
        - $formkit: checkbox
          name: show_pin
          label: 置顶文章显示 pin 图标
          value: true
        - $formkit: select
          name: pin_pos
          label: pin 图标显示位置
          options:
            - label: "left"
              value: "pin-left"
            - label: "above"
              value: "pin-above"
        - $formkit: checkbox
          name: show_tags
          label: 显示文章标签
          value: true

    - group: post_page
      label: 文章页
      formSchema:
        - $formkit: checkbox
          name: show_toc
          label: 显示文章目录
          value: true
        - $formkit: checkbox
          name: show_tags
          label: 显示文章标签
          value: true

    - group: categories_page
      label: 分类页
      formSchema:
        - $formkit: text
          name: title_s
          label: 分类页(复数) 标题自定义
          value:
        - $formkit: text
          name: title
          label: 分类页标题自定义
          value:

    - group: archives_page
      label: 归档页
      formSchema:
        - $formkit: text
          name: title
          label: 归档页标题自定义
          value:
        - $formkit: checkbox
          name: show_tags
          label: 显示文章标签
          value: false

    - group: tags_page
      label: 标签页
      formSchema:
        - $formkit: text
          name: title_s
          label: 标签页(复数) 标题自定义
          value:
        - $formkit: text
          name: title
          label: 标签页标题自定义
          value:

    - group: links_page
      label: 友链页
      formSchema:
        - $formkit: text
          name: title
          label: 友链页标题自定义
          value:

    - group: sns
      label: 社交资料
      formSchema:
        - $formkit: checkbox
          name: rss
          label: RSS
          value: false
        - $formkit: text
          name: github
          label: GitHub
          placeholder: "用户名"
          value:
        - $formkit: text
          name: email
          label: Email
          placeholder: "邮箱地址"
          value:
        - $formkit: text
          name: discord
          label: Discord
          placeholder: "分享链接"
          value:
        - $formkit: text
          name: telegram
          label: Telegram
          placeholder: "用户名"
          value:
        - $formkit: text
          name: facebook
          label: Facebook
          placeholder: "用户名"
          value:
        - $formkit: text
          name: instagram
          label: Instagram
          placeholder: "用户名"
          value:
        - $formkit: text
          name: x
          label: X
          placeholder: "用户名"
          value:

    - group: icp
      label: 备案
      formSchema:
        - $formkit: text
          name: icp_text
          label: ICP备案号
        - $formkit: text
          name: icp_link
          label: ICP备案跳转链接
          value: https://beian.miit.gov.cn/
        - $formkit: text
          name: filing_text
          label: 公安备案号
        - $formkit: text
          name: filing_link
          label: 公安备案跳转链接
          value: https://www.beian.gov.cn/