.button-container {
  display: table;
  margin-left: auto;
  margin-right: auto;
}

button,
.button,
a.button {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: calc(var(--size-theme-font) * 0.5) calc(var(--size-theme-font) * 1.125);
  text-decoration: none;
  text-align: center;
  font: inherit;
  font-weight: bold;
  appearance: none;
  cursor: pointer;
  outline: none;
}

button.outline,
.button.outline,
a.button.outline {
  background: transparent;
  box-shadow: none;
  padding: calc(var(--size-theme-font) * 0.5) calc(var(--size-theme-font) * 1.125);
}

button.outline :hover,
.button.outline :hover,
a.button.outline :hover {
  transform: none;
  box-shadow: none;
}

button.link,
.button.link,
a.button.link {
  background: none;
  font-size: var(--size-theme-font);
}

button.small,
.button.small,
a.button.small {
  font-size: calc(var(--size-theme-font) * 0.8);
}

button.wide,
.button.wide,
a.button.wide {
  min-width: calc(var(--size-theme-font) * 12.5);
  padding: calc(var(--size-theme-font) * 0.875) calc(var(--size-theme-font) * 1.5);
}

a.button.inline {
  background: none;
  color: var(--color-theme-accent);
  padding: initial;
  margin: initial;
  border: initial;
  font-weight: initial;
  text-decoration: none;
}

a.button.inline:active,
a.button.inline:hover {
  background: none;
}

a.read-more,
a.read-more:hover,
a.read-more:active {
  display: inline-flex;
  border: none;
  background: none;
  box-shadow: none;
  padding: 0;
  max-width: 100%;
  text-decoration: none;
}