comment-widget {
  --halo-cw-base-font-family: var(--font-theme-default) !important;
  --halo-cw-base-rounded: var(--radius-theme-default) !important;
  --halo-cw-base-font-size: var(--font-theme-size) !important;
  --halo-comment-widget-base-line-height: var(--line-theme-height) !important;
  --halo-comment-widget-base-color: var(--color-theme-foreground) !important;
  --halo-comment-widget-base-info-color: var(--color-theme-foreground) !important;
  --halo-cw-primary-1-color: var(--color-theme-accent) !important;
  --halo-cw-primary-2-color: var(--color-theme-accent) !important;
  --halo-cw-primary-3-color: var(var(--color-theme-accent) !important) !important;
  --halo-cw-text-1-color: var(--color-theme-foreground) !important;
  --halo-cw-text-2-color: var(--color-theme-foreground) !important;
  --halo-cw-text-3-color: var(--color-theme-foreground) !important;
  --halo-cw-muted-1-color: color-mix(in srgb,var(--color-theme-foreground) 65%,transparent) !important;
  --halo-cw-muted-2-color: color-mix(in srgb,var(--color-theme-foreground) 65%,transparent) !important;
  --halo-cw-muted-3-color: color-mix(in srgb,var(--color-theme-foreground) 65%,transparent) !important;
  // --halo-cw-avatar-rounded:
  // --halo-cw-avatar-size
}

.comment {
  margin-top: calc(var(--font-theme-size) * 2.5);
}