@font-face {
  font-family: 'JetBrains Mono';
  src: local('JetBrains Mono'),
  local('JetBrains Mono Regular'),
  local('JetBrainsMono-Regular'),
  local('JetBrainsMonoNL Nerd Font'),
  local('JetBrainsMonoNL Nerd Font Mono'),
  local('JetBrainsMono Nerd Font'),
  local('JetBrainsMono Nerd Font Mono'),
  url('../fonts/JetBrainsMono-Regular.woff2') format('woff2');
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Hack';
  src: url('../fonts/hack-regular.woff2?sha=3114f1256') format('woff2');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Hack';
  src: url('../fonts/hack-bold.woff2?sha=3114f1256') format('woff2');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Hack';
  src: url('../fonts/hack-italic.woff2?sha=3114f1256') format('woff2');
  font-weight: 400;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: 'Hack';
  src: url('../fonts/hack-bolditalic.woff2?sha=3114f1256') format('woff2');
  font-weight: 700;
  font-display: swap;
  font-style: italic;
}
