@font-face {
  font-family: 'Fira Code VF';
  src: local("Fira Code"), url('../fonts/FiraCode-VF.woff2') format('woff2-variations');
  font-weight: 300 700;
  font-style: normal;
}

@font-face {
  font-family: Fusion-Pixel-proportional-zh;
  font-display: swap;
  src: url("../fonts/fusion-pixel-12px-proportional-zh_hans.woff2") format('woff2');
}