.friend {
  &-post-list {
    padding: 0;
  }

  &-post-title {
    margin-bottom: calc(var(--size-theme-font) * 0.3125);
    padding: 0;
  }

  &-post-meta {
    margin-bottom: calc(var(--size-theme-font) * 0.3125);
    padding: 0;
  }

  &-author {
    display: inline-flex;
    align-items: center;
    gap: calc(var(--size-theme-font) * 0.35);
    color: var(--color-theme-meta);
    text-decoration: none;
  }

  &-post-desc {
    margin: 0;
    padding: 0;
    color: var(--color-theme-foreground);
    font-size: calc(var(--size-theme-font) * 0.875);
  }
}
