.header {
  display: flex;
  flex-direction: column;
  position: relative;
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;

  #theme-toggle, #search-button, #pixel-toggle {
    background-color: transparent;
    color: var(--color-theme-header);
    border-color: var(--color-theme-header);
    margin: 0 0 0 calc(var(--font-theme-size) * 0.5);
    padding: 0;
  }
}

.header__logo {
  display: flex;
  flex: 1;
}

.header__logo::after {
  content: "";
  background: repeating-linear-gradient(90deg, var(--color-theme-header), var(--color-theme-header) calc(var(--font-theme-size) * 0.125), transparent 0, transparent calc(var(--font-theme-size) * 0.625));
  display: block;
  width: 100%;
  right: calc(var(--font-theme-size) * 0.625);
}

.header__logo a {
  flex: 0 0 auto;
  max-width: 100%;
  text-decoration: none;
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  background: var(--color-theme-header);
  color: var(--color-theme-background);
  font-weight: 500;
  padding: calc(var(--font-theme-size) * 0.3125) calc(var(--font-theme-size) * 0.625);
}

@media print {
  .header {
    display: none;
  }
}