.icon-pixel,
.icon-regular {
  display: none;
}

.button-icon {
  width: calc(var(--size-theme-font) * 1.85);
}

html[pixel_style='false'] .icon-regular {
  display: inline;
}

html[pixel_style='true'] .icon-pixel {
  display: inline;
}