.icon-pixel,
.icon-regular {
  display: none;
}

.button-icon {
  align-items: center;
  justify-content: center;
  width: calc(var(--size-theme-font) * 1.85);
  height: calc(var(--size-theme-font) * 1.85);
  line-height: 0;

  > svg {
    display: block;
    width: 100%;
    height: 100%;
  }
}

html[data-pixel-style='false'] .icon-regular {
  display: inline-flex;
}

html[data-pixel-style='true'] .icon-pixel {
  display: inline-flex;
}

#appearance-toggle .appearance-icon {
  display: none;
}

html[data-pixel-style='false'][data-theme-mode='light'] #appearance-toggle .icon-regular[data-appearance-mode='light'],
html[data-pixel-style='false'][data-theme-mode='dark'] #appearance-toggle .icon-regular[data-appearance-mode='dark'],
html[data-pixel-style='false'][data-theme-mode='system'] #appearance-toggle .icon-regular[data-appearance-mode='system'],
html[data-pixel-style='true'][data-theme-mode='light'] #appearance-toggle .icon-pixel[data-appearance-mode='light'],
html[data-pixel-style='true'][data-theme-mode='dark'] #appearance-toggle .icon-pixel[data-appearance-mode='dark'],
html[data-pixel-style='true'][data-theme-mode='system'] #appearance-toggle .icon-pixel[data-appearance-mode='system'] {
  display: inline-flex;
}
