.icon-pixel,
.icon-regular {
  display: none;
}

.button-icon {
  width: calc(var(--font-theme-size) * 1.5);
  height: calc(var(--font-theme-size) * 1.5);
}

html[pixel_style='false'] .icon-regular {
  display: inline;
}

html[pixel_style='true'] .icon-pixel {
  display: inline;
}