.link-section {
  margin-bottom: calc(var(--size-theme-font) * 2);
}

.link-table {
  width: 100%;
  border-collapse: collapse;
}

.link-item {
  display: block;
  margin-bottom: calc(var(--size-theme-font) * 0.5);
  text-decoration: none;
  color: inherit;
}

.link-item:hover {
  background-color: var(--color-theme-background);
}

.link-container {
  display: flex;
  padding: calc(var(--size-theme-font) * 0.25);
  align-items: center;
}

.link-logo {
  width: calc(var(--size-theme-font) * 4);
  height: auto;
  flex-shrink: 0;
}

.link-content {
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: calc(var(--size-theme-font) * 4);
}

.link-title {
  margin: 0;
  font-weight: 500;
}

.link-url {
  color: var(--color-theme-accent);
  font-size: calc(var(--size-theme-font) * 0.9);
}

.link-description {
  margin: 0;
  color: var(--color-theme-foreground);
  font-size: calc(var(--size-theme-font) * 0.9);
  line-height: 1.4;
}