@use "variables" as *;

.navigation-menu {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin: calc(var(--size-theme-font) * 1.25) calc(var(--size-theme-font) * 0.0625);

  a {
    text-decoration: none;
    color: var(--color-theme-menu);
  }

  @media (max-width: $phone-max-width) {
    margin: 0;
  }

  .navigation-menu__inner {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;

    @media (max-width: $phone-max-width) {
      flex-direction: column;
      align-items: flex-start;
      padding: 0;

      li {
        flex: 0 0 auto;
      }

      li:not(:last-of-type) {
        margin-bottom: calc(var(--size-theme-font) * 0.625);
      }

      .navigation-menu__inner li {
        margin: 0;
        padding: calc(var(--size-theme-font) * 0.3125);
      }
    }
  }

  .navigation-menu__inner > li {
    flex: 0 0 auto;
    margin-bottom: calc(var(--size-theme-font) * 0.625);
    white-space: nowrap;

    @media (max-width: $phone-max-width) {
      margin: 0;
      padding: calc(var(--size-theme-font) * 0.3125);
    }
  }

  .navigation-menu__inner > li:not(:last-of-type) {
    margin-right: calc(var(--size-theme-font) * 1.25);
  }

  .navigation-menu .spacer {
    flex-grow: 1 !important;
  }

  .menu {
    display: flex;
    position: relative;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .menu__trigger {
    all: unset;
    cursor: pointer;
    background-color: var(--color-theme-background) !important;
    margin-right: 0 !important;
    padding-left: calc(var(--size-theme-font) * 0.3125);
    padding-right: calc(var(--size-theme-font) * 0.3125);
    color: var(--color-theme-menu);
    user-select: none;
    border: none;
    display: inline-flex;

    @media (max-width: $phone-max-width) {
      padding-left: calc(var(--size-theme-font) * 0.625);
      padding-right: calc(var(--size-theme-font) * 0.625);
      margin-bottom: 0 !important;
      outline: none;
      -webkit-tap-highlight-color: transparent;
    }
  }

  .menu__dropdown {
    display: none;
    flex-direction: column;
    position: absolute;
    background: var(--color-theme-background);
    color: var(--color-theme-accent);
    border:  calc(var(--size-theme-font) * 0.125) solid var(--color-theme-menu);
    margin: 0;
    padding:  calc(var(--size-theme-font) * 0.3125);
    top:  calc(var(--size-theme-font) * 1.5625);
    list-style: none;
    z-index: 99;

    @media (max-width: $phone-max-width) {
      left: auto;
      right: 0;
    }
  }

  .menu__dropdown > li {
    flex: 0 0 auto;
  }

  .menu__dropdown > li:not(:last-of-type) {
    margin-bottom:  calc(var(--size-theme-font) * 0.625);
  }

  .menu__dropdown > li a {
    display: flex;
    padding:  calc(var(--size-theme-font) * 0.3125);
    text-decoration: underline;
  }

  .sub-menu {
    display: flex;
  }

  .sub-menu:hover .menu__dropdown,
  .sub-menu:active .menu__dropdown {
    display: flex !important;
    opacity: 1;
    visibility: visible;
  }
}