.moment-media {
  display: grid;
  gap: calc(var(--font-theme-size) * 0.5);
  margin: var(--font-theme-size) 0;
  width: 80%;
}

.moment-media video {
  width: 100%;
  height: calc(var(--font-theme-size) * 12.5);
  object-fit: cover;
  border-radius: var(--font-theme-size);
  transition: transform 0.3s ease;
}