html[data-color-scheme='light'] {
  --background: #ffffff;
  --foreground: #1e1e1e;
  --accent: #003e8a;
  --tag: #07962a;
  --title: #003e8a;
  --link: #07962a;
  --meta: #2e6cba;
  --framed: #970b16;
}

html[data-color-scheme='dark'] {
  --background: #101216;
  --foreground: #8b949e;
  --accent: #6ca4f8;
  --tag: #56d364;
  --title: #6ca4f8;
  --link: #6ca4f8;
  --meta: #2e6cba;
  --framed: #f78166;
}

html[data-color-scheme='inkGold'] {
  --background: #1a170f;
  --foreground: #eceae5;
  --accent: #eec35e;
  --tag: #eec35e;
  --title: #eec35e;
  --link: #eec35e;
  --meta: #eceae5;
  --framed: #eec35e;
}