html[data-color-scheme='light'] {
  --color-theme-background: #ffffff;
  --color-theme-foreground: #1e1e1e;
  --color-theme-accent: #003e8a;
  --color-theme-tag: #07962a;
  --color-theme-title: #003e8a;
  --color-theme-link: #07962a;
  --color-theme-meta: #2e6cba;
  --color-theme-framed: #970b16;
}

html[data-color-scheme='dark'] {
  --color-theme-background: #101216;
  --color-theme-foreground: #8b949e;
  --color-theme-accent: #6ca4f8;
  --color-theme-tag: #56d364;
  --color-theme-title: #6ca4f8;
  --color-theme-link: #6ca4f8;
  --color-theme-meta: #2e6cba;
  --color-theme-framed: #f78166;
}

html[data-color-scheme='inkGold'] {
  --color-theme-background: #1a170f;
  --color-theme-foreground: #eceae5;
  --color-theme-accent: #eec35e;
  --color-theme-tag: #eec35e;
  --color-theme-title: #eec35e;
  --color-theme-link: #eec35e;
  --color-theme-meta: #eceae5;
  --color-theme-framed: #eec35e;
}