.toc {
  margin-left: calc(var(--size-theme-font) * 0.75);
  position: fixed;
  display: block;
  z-index: 1000;
  top: 20vh;
  padding: calc(var(--size-theme-font) * 2.5) calc(var(--size-theme-font) * 0.75) calc(var(--size-theme-font) * 0.75);

  .toc-content {
    overflow: hidden;
    display: none;
    max-height: calc(100vh - 20vh - var(--size-theme-font) * 5);
  }

  &.toc-visible .toc-content {
    display: block;
  }

  .toc-content::-webkit-scrollbar {
    width: calc(var(--size-theme-font) * 0.375);
  }

  .toc-content::-webkit-scrollbar-track {
    background: transparent;
  }

  .toc-content::-webkit-scrollbar-thumb {
    background: var(--color-theme-foreground);

    &:hover {
      background: transparent;
    }
  }

  .toc-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .toc-list-item {
    margin: calc(var(--size-theme-font) * 0.25) 0;

    .toc-list {
      margin-left: var(--size-theme-font);
      border-left:  calc(var(--size-theme-font) * 0.0625) solid var(--color-theme-foreground);
      padding-left: calc(var(--size-theme-font) * 0.5);
    }
  }

  .toc-link {
    display: block;
    padding: calc(var(--size-theme-font) * 0.25) calc(var(--size-theme-font) * 0.5);
    text-decoration: none;
    color: var(--color-theme-foreground);
    font-size: calc(var(--size-theme-font) * 0.875);

    &:hover {
      background: transparent;
      color: var(--color-theme-accent);
    }

    &.is-active-link,
    .is-active-li > & {
      background: transparent;
      color: var(--color-theme-accent);
      font-weight: bold;
      position: relative;
    }
  }
}

@media (min-width: 1401px) {
  .toc:not(.toc-visible) {
    width: calc(var(--size-theme-font) * 2);
    height: calc(var(--size-theme-font) * 2);
    padding: 0;
    background: transparent;
    border: none;

    .toc-content {
      display: none;
    }
  }
}

.toc-toggle {
  position: absolute;
  top: calc(var(--size-theme-font) * -0.0625);
  left: calc(var(--size-theme-font) * -0.0625);
  width: calc(var(--size-theme-font) * 2);
  height: calc(var(--size-theme-font) * 2);
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  background: transparent;
  border: none;
  color: var(--color-theme-foreground);
  cursor: pointer;
  font-size: var(--size-theme-font);
  z-index: 1002;

  &:hover {
    background: transparent;
    -webkit-tap-highlight-color: transparent;
  }
}

@media (max-width: 1400px) {
  .toc {
    width: calc(var(--size-theme-font) * 2);
    height: calc(var(--size-theme-font) * 2);
    padding: 0;
    border: none;
    overflow: visible;
    left: calc(100vw - var(--size-theme-font) * 3.25);

    .toc-content {
      display: none;
    }

    &.toc-visible {
      width: calc(var(--size-theme-font) * 17.5);
      max-width: calc(100vw - var(--size-theme-font) * 1.25);
      height: auto;
      max-height: calc(100vh - var(--size-theme-font) * 5);
      padding: calc(var(--size-theme-font) * 2.5) calc(var(--size-theme-font) * 0.75) calc(var(--size-theme-font) * 0.75);
      background: var(--color-theme-background);
      border:  calc(var(--size-theme-font) * 0.0625) solid var(--color-theme-foreground);
      z-index: 1001;

      &.toc-overflow-right {
        left: auto !important;
        right: calc(var(--size-theme-font) * 0.625);
      }

      .toc-content {
        display: block;
        overflow-y: auto;
        max-height: calc(100vh - var(--size-theme-font) * 8.5);
      }

      .toc-list {

      }
    }

    .toc-link {
      font-size: calc(var(--size-theme-font) * 0.85);
      padding: calc(var(--size-theme-font) * 0.3125) calc(var(--size-theme-font) * 0.5);
    }

    .toc-list-item {
      margin: calc(var(--size-theme-font) * 0.1875) 0;
    }
  }
}

@media (max-width: 480px) {
  .toc.toc-visible {
    max-width: max(calc(100vw - (var(--size-theme-font) * 12.5)), 50vw);
    max-height: 60vh;

    .toc-content {
      max-height: calc(60vh - var(--size-theme-font) * 3.75);
      overflow-y: auto;
    }

    .toc-list {
    }

    .toc-list-item {
      margin: calc(var(--size-theme-font) * 0.125) 0;
    }

    .toc-link {
      font-size: calc(var(--size-theme-font) * 0.70);
      padding: calc(var(--size-theme-font) * 0.1) calc(var(--size-theme-font) * 0.1);
    }
  }
}