<!doctype html>
<html
        xmlns:th="https://www.thymeleaf.org"
        th:replace="~{modules/layout :: html(title = '404 - ' + ${site.title}, header = null, content = ~{::content}, footer = null)}"
>
<th:block th:fragment="content">
    <article class="post">
        <header>
            <h1 class="post-title" th:text="${error.status}">Error status</h1>
        </header>
        <div class="post-content">
            <h2 th:text="${#strings.defaultString(error.title, #messages.msg('page.error.title'))}">Error</h2>
            <p th:if="${not #strings.isEmpty(error.detail)}" th:text="${error.detail}">Error detail</p>
        </div>
        <a data-pjax class="button inline" th:href="@{/}" th:text="#{page.error.back}">
            Back to home page
        </a>
    </article>
</th:block>
</html>
