<th:block th:fragment="sns">
    <div class="sns-container">
        <th:block th:each="social : ${theme.config.sns.social_media}">
            <a class="sns-icon"
               target="_blank"
               rel="noopener noreferrer"
               th:href="${social.url}"
               th:aria-label="${#strings.isEmpty(social.name) ? 'Social Media' : social.name}">

                <span class="icon-regular"
                      th:utext="${social.iconify.value}">
                </span>
                <span class="icon-pixel"
                      th:utext="${social.pixel_iconify != null and social.pixel_iconify.value != null
                          ? social.pixel_iconify.value
                          : social.iconify.value}">
                </span>
            </a>
        </th:block>

        <span class="divider"
              th:if="${theme.config.sns.rss
          and theme.config.sns.social_media != null
          and not #lists.isEmpty(theme.config.sns.social_media)}">|</span>
        <!-- RSS -->
        <a class="sns-icon"
           target="_blank"
           rel="noopener noreferrer"
           th:href="@{/rss.xml}"
           aria-label="RSS"
           th:if="${theme.config.sns.rss}">
            <span class="icon-regular">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
                     stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M4 11a9 9 0 0 1 9 9"></path>
                    <path d="M4 4a16 16 0 0 1 16 16"></path>
                    <circle cx="5" cy="19" r="1"></circle>
                </svg>     
            </span>
            <span class="icon-pixel">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path fill="currentColor"
                          d="M22 2V1H2v1H1v20h1v1h20v-1h1V2zm-6 16v-3h-1v-2h-1v-1h-1v-1h-1v-1h-1V9H9V8H7V7H4V4h3v1h2v1h2v1h2v1h1v1h1v1h1v1h1v2h1v2h1v2h1v3h-3v-2zm-5 0v-2h-1v-1H9v-1H8v-1H6v-1H4V9h2v1h2v1h2v1h1v1h1v1h1v2h1v2h1v2h-3v-2zm-7 1v-3h1v-1h3v1h1v3H8v1H5v-1z"/>
                </svg>
            </span>
        </a>
    </div>
</th:block>
