<!DOCTYPE html>
<html
        xmlns:th="https://www.thymeleaf.org"
        th:replace="~{modules/layout :: html(title = |#{page.archives.title} - ${site.title}|, header = null, content = ~{::content}, footer = null)}"
>
<th:block th:fragment="content">
    <article class="post">
        <header>
            <h1 class="post-title"
                th:with="title=${theme.config.page.archives_title ?: page.archives.title ?: 'Archives'}"
                th:text="${title}">
                Archives
            </h1>
        </header>
        <div>
            <th:block th:each="archive : ${archives.items}">
                <ul>
                    <th:block th:each="month : ${archive.months}">
                        <li class="post-list" th:each="post : ${month.posts}">
                            <a data-pjax th:href="@{${post.status.permalink}}">
                                <time th:text="${#dates.format(post.spec.publishTime,'yyyy-MM-dd')}">Publish Time</time>
                                <span>&nbsp;::&nbsp;</span>
                                <span class="post-list-title" th:text="${post.spec.title}">Post Title</span>
                            </a>
                        </li>
                    </th:block>
                </ul>
            </th:block>
        </div>
    </article>
    <nav class="pagination" th:if="${archives.hasPrevious() || archives.hasNext()}">
        <div class="pagination__buttons">
          <span th:if="${archives.hasPrevious()}">
            <a data-pjax th:href="@{${archives.prevUrl}}" class="button prev inline">
              <span class="button__text"><&nbsp;Prev</span>
            </a>
          </span>
            <span th:if="${archives.hasNext()}">
            <a data-pjax th:href="@{${archives.nextUrl}}" class="button next inline">
              <span class="button__text">Next</span>
              <span class="button__icon">&nbsp;></span>
            </a>
          </span>
        </div>
    </nav>
</th:block>
</html>
