<!DOCTYPE html>
<html
        xmlns:th="https://www.thymeleaf.org"
        th:replace="~{layout :: html(head = ~{::head}, content = ~{::content})}"
>
<th:block th:fragment="head">
    <title th:text="|#{page.friends.title} - ${site.title}|">Friends</title>
</th:block>
<th:block th:fragment="content">
    <article class="post">
        <header>
            <h1 class="post-title" th:text="#{page.friends.title}">Friends</h1>
        </header>
        <div>
            <th:block th:each="friend, iterStat : ${friends.items}" th:with="spec = ${friend.spec}">

                <h2 th:if="${iterStat.first
                             or (#temporals.format(spec.pubDate, 'yyyy-MM-dd') != #temporals.format(friends.items[iterStat.index - 1].spec.pubDate, 'yyyy-MM-dd'))}"
                    th:text="${#temporals.format(spec.pubDate, 'yyyy-MM-dd')}">
                </h2>

                <ul>
                    <li class="post-list friend-post-list">
                        <a th:href="@{${spec.postLink}}" target="_blank" rel="noopener noreferrer">
                            <h2 class="post-list-title friend-post-title" th:text="${spec.title}">Post Title</h2>
                        </a>
                        <div class="post-meta friend-post-meta">
                            <a class="friend-author" th:href="@{${spec.authorUrl}}" target="_blank"
                               rel="noopener noreferrer">
                                <span class="post-author" th:text="${spec.author}">Author</span>
                            </a>
                        </div>
                        <p class="friend-post-desc" th:if="${spec.description}" th:text="${spec.description}"></p>
                    </li>
                </ul>

            </th:block>
        </div>
    </article>

    <th:block th:replace="~{modules/pagination :: page(
        hasPrevious=${friends.hasPrevious()},
        previousUrl=@{${friends.prevUrl}},
        hasNext=${friends.hasNext()},
        nextUrl=@{${friends.nextUrl}},
        previousClass=''
    )}"/>
</th:block>
</html>
