<!DOCTYPE html>
<html
        xmlns:th="https://www.thymeleaf.org"
        th:replace="~{layout :: html(head = ~{::head}, content = ~{::content})}"
>
<th:block th:fragment="head">
    <title th:text="|#{page.tag.title}: ${tag.spec.displayName} - ${site.title}|">Tag</title>
</th:block>
<th:block th:fragment="content">
    <article class="post">
        <header>
            <h1 class="post-title"
                th:with="title=${theme.config.tags_page.title ?: #messages.msg('page.tag.title')}"
                th:text="|${title}: ${tag.spec.displayName} [${tag.status.visiblePostCount ?: 0}]|">
                Tag: Tag name [n]
            </h1>
        </header>
        <div class="post-content">
            <ul>
                <li class="post-list" th:each="post : ${posts.items}">
                    <a data-pjax class="post-meta" th:href="@{${post.status.permalink}}">
                        <time th:text="${#dates.format(post.spec.publishTime, '__${theme.config.general.time_style == 'custom' ?
                                      theme.config.general.custom_time_style : theme.config.general.time_style}__')}">Publish Time</time>
                        <span class="post-list-title" th:text="${post.spec.title}">Post Title</span>
                    </a>
                </li>
            </ul>
        </div>
    </article>
    <th:block th:replace="~{modules/pagination :: page(
        hasPrevious=${posts.hasPrevious()},
        previousUrl=@{${posts.prevUrl}},
        hasNext=${posts.hasNext()},
        nextUrl=@{${posts.nextUrl}},
        previousClass=''
    )}"/>
</th:block>
</html>
