<!DOCTYPE html>
<html
        xmlns:th="https://www.thymeleaf.org"
        th:replace="~{modules/layout :: html(title = |#{page.tags.title} - ${site.title}|, header = null, content = ~{::content}, footer = null)}"
>
<th:block th:fragment="content">
    <article class="post">
        <header>
            <h1 class="post-title" th:text="#{page.tag.title}">Tags</h1>
        </header>
        <section class="post-content">
            <ul>
                <li th:each="tag: ${tags}">
                    <a data-pjax th:href="@{${tag.status.permalink}}"
                       th:text="${tag.spec.displayName}">
                    </a>
                    <span th:text="' ['+${tag.status.visiblePostCount?:0}+']'"></span>
                </li>
            </ul>
        </section>
    </article>
</th:block>
</html>
